.card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    border: 1px var(--text) solid;
    border-radius: 10px;
    padding: 20px;
    height: 70vh;
    width: 70vw;
    flex-direction: column;
    justify-content: space-between;
}

.cardCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}