.card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    background: var(--second);
    border: 0px var(--text) solid;
    border-radius: 10px;
    padding: 20px;
    height: 70vh;
    width: 70vw;
    flex-direction: column;
    justify-content: space-between;
    transition: .5s ease;
}

.card:hover {
    height: 72vh;
    width: 72vw;
}

.cardCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;
}

.links a {
    color: var(--text);
    text-underline-offset: 2px;
    transition: .2s ease;
}

.links a:hover {
  text-underline-offset: 6px;
}