:root {
  --bg: rgb(40, 39, 39);
  --text: white;
  --second: rgb(59, 58, 58);
}

[data-theme="dark"] {
  --bg: rgb(237, 233, 231);
  --text: rgb(40, 39, 39);
  --second: #f7f3f1;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--text);
  padding: 20px;
}