:root {
  --bg: rgb(40, 39, 39);
  --text: white;
}

[data-theme="dark"] {
  --bg: white;
  --text: rgb(40, 39, 39);
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
  color: var(--text);
}