:root {
  --bg: #0f1115;
  --text: white;
  --second: #2a2d32;
}

[data-theme="dark"] {
  --bg: rgb(237, 233, 231);
  --text: rgb(40, 39, 39);
  --second: #f7f3f1;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--text);
  padding: 20px;
}

.exp {
  display: flex;
  padding-top: 80px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body{
  background-color: var(--bg);
}

hr {
  color: var(--second);
  width: 80vw;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}